#*
* Copyright 2015 Geert Claeys
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*#
#macro(commaIfNeeded $index $list)
#set ( $lastone = $list.size() - 1 )
#if( $index <= $lastone ),#end
#end
#macro(javaParam $param)
#if ($param.type.primitive)
$param.name#else
${param}->getJObject()#end
#end
#macro(jniMethodCallName $returnType)
#if ($returnType.typeName == "int")
CallIntMethod#elseif ($returnType.typeName == "short")
CallShortMethod#elseif ($returnType.typeName == "float")
CallFloatMethod#elseif ($returnType.typeName == "double")
CallDoubleMethod#elseif($returnType.typeName == "long")
CallLongMethod#elseif($returnType.typeName == "bool")
CallBooleanMethod#elseif($returnType.typeName == "char")
CallCharMethod#elseif($returnType.typeName == "unsigned char")
CallByteMethod#elseif($returnType.typeName == "void")
CallVoidMethod#else
CallObjectMethod#end
#end
#macro(jniReturnType $returnType)
#if ($returnType.typeName == "int")
jint#elseif ($returnType.typeName == "short")
jshort#elseif ($returnType.typeName == "float")
jfloat#elseif ($returnType.typeName == "double")
jdouble#elseif ($returnType.typeName == "long")
jlong#elseif ($returnType.typeName == "bool")
jboolean#elseif ($returnType.typeName == "char")
jchar#elseif ($returnType.typeName == "unsigned char")
jbyte#else
jobject#end
#end
